#kyzers-wrestling-page {

    background-color: #000000;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(206, 21, 21);
}

nav {
    float: middle;
    width: 15%;
    height: 15%;
    background: #e40d0d;
    padding: 40px;
}

body {
    background-color: rgb(151, 151, 161);
 

}